### General ###
.idea

api/oldDockerfile

### Ansible ###
ansible/olha-aws-eu-west-2-ssh-key.pem
ansible/olha-aws-eu-west-3-ssh-key.pem

### Terraform ###
terraform/.terraform
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/olha-aws-eu-west-2-ssh-key.pem